body {
  padding: 0;
  margin: 0;
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
}

.card--container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  height: 100vh;
}

.card--component {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 70%;
  background-color: blueviolet;
}