body {
  padding: 0;
  margin: 0;
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
}

.card--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card--component {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 70%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.card--component__image {
  width: 50%;
}

.card--component__content {
  background-color: brown;
  width: 50%;
}